body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  /* background-color: #f5f1eb; */
  /* color: #2e2a27; */
}

h1 {
  font-size: 48px;
}

p {
  font-size: 18px;
  color: #6b645c;
}
